.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 2em;
  font-weight: 700;
}

.image-style {
  width: 3em;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #f4f6f6f8;
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #f8f8fa;
}
body{
  margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Karla",sans-serif;
    background-image: linear-gradient(-225deg,#22e1ff,#1d8fe1 48%,#625eb1);
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
